body{
	margin:auto;
	background-color:#EBEBEB;
	}
	#generalHeader{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	height:30px;
	background-color:#D6D6D6;
	}
	#header{
	margin-left:auto;
	margin-right:auto;
	width:1200px;
	height:30px;
	background-color:#D6D6D6;
	}
	#header ul{
	float:left;
	margin:0;

	}
	#header ul li{
	float:left; 
	margin-left:20px;
	list-style:none;

	padding:5px;

	}
	#header ul li a{
	text-decoration:none;
	color:black;
	}
	#header ul li a:hover{
	text-decoration:none;
	color:grey;
	}
	#header .header_search{
	float:right;
	padding:3px;
	}
	#content {
	margin-left:auto;
	margin-right:auto;
	width:1200px;
	margin-top:10px;
	height:300px;
	background-color:#DBDBDB;
	}
	#content .slider
	{
	padding:20px;
	background-color:black;
	width:100px;
	color:white;
	}


	#content1 {
	margin-left:auto;
	margin-right:auto;
	width:1200px;
	margin-top:10px;
	/* height:300px; */ 
	}
	#content1 .videos
	{
	background-color:black;
	width:292px;
	color:white;
	background-color:#DBDBDB;
	height:200px;
	display: inline-block;
	margin-right: 6px;
	}
	#content1 .videos:nth-of-type(4)
	{
	margin-right: -4px;
	}
	#content1 .videos1
	{
	background-color:black;
	width:293px;
	color:white;
	background-color:#ABBEFF;
	height:200px;
	float:left;
	}

	.clear {clear: both;}


	#content1 .first
	{
	background-color:black;
	width:49.5%;
	color:white;
	background-color:#DBDBDB;
	height:300px;
	float:left;
	display: inline-block;
	margin:10px 0; /* იგივეა რაც: margin-top: 10px; margin-bottom: 10px;*/
	}

	#content1 .second
	{
	background-color:black;
	width:49.5%;
	color:white;
	background-color:#DBDBDB;
	height:300px;
	float:right;
	margin-top:10px;
	margin-bottom:10px;
	}


	#footer
	{
	background-color:black;
	width:100%;
	color:white;
	background-color:#DBDBDB;
	height:50px;
	float:right;
	margin-top:10px;
	}
	.clearfix:before,
	.clearfix:after {
	  content: "";
	  display: table;
	}
	 
	.clearfix:after {
	  clear: both;
	}
